a{
    color: black;
    text-decoration: none; 
}
*{list-style-type: none;}


/*가상클래스 선택지*/
a:hover{color: orange;
font-weight: bold;}
a:active{color: blue;}
a:visited{color: red;}



/*
선택자 a:hover : 마우스 커서를 위에 올렸을때
선택자 a:active : 마우스를 클릭할때
선택자 a:visited : 한번이라도 들어간적 있을때

*/


#header{background-color: beige;}
#header>ul{display: flex; justify-content: center;}
#header>ul>li{padding: 20px; position: relative;}

#header .submenu{
    position: absolute; top: 50px; padding: 0px; display: none;
}   

#header > ul > li:hover .submenu
{display: block;}


/*마우스를 올렸울때 서브메뉴가 보이는*/

#header2{ background-color: beige;}

#header2> ul{display: flex; justify-content: center;

}

#header2> ul>li{
    padding: 20px; position: relative; padding: 20px;
}

#header2 { position: relative;margin-top: 300px; }

#submenu2{
    position: absolute; top: 60px; padding: 0px; width: 100%;
    background-color: beige; display: none;
}

#header2>ul:hover #submenu2 {display: block;}