li{list-style-type: none;}
*{padding: 0px ;margin: 0px;}

.전체{
    background-color: pink;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}

.이름{
    font-size: 20px;
    margin: 0  auto;
    border-radius: 30px;
    border: 3px solid white;
    text-align: center;
    margin: 40px 20px;
    width: 160px;
    padding: 10px;
}

.사진{
    width: 220px; height: 200px;
    margin: 0 auto;
    border-radius: 30px;

}

.내용{
    font-weight: bold;
    margin: 20px auto;
    width: 200px;
    

}

.찜{
    border-radius: 30px;
    background-color: aqua;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px;



}
.인{
    border-radius: 30px;
    background-color: aqua;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px;



}
.페{
    border-radius: 30px;
    background-color: aqua;
    width: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 30px auto;
    padding: 10px;


}
