*{ list-style-type: none; box-sizing: border-box; padding: 0px; margin: 0px; }  /* 글머리 제거 */
a{ text-decoration: none; color: black;} /* a마크업의 밑줄제거,색상 검정*/
#header{ width: 1280px; margin: 0 auto; } 
#content{ width: 1280px; margin: 0 auto; } 
#footercontent{ width: 1280px; margin: 0 auto;}
    

#video{
    width: 1270px; height: 600px;

}

#ctBot8 div ul{text-align: left;}



#ct1Limg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it.png);
  background-repeat: no-repeat; 
  background-position: center ;
}


#content2, #content4,#content6{
    text-align: center;
    width: 700px;  margin: 0 auto;   
}

#ct2main { padding: 0px 5px;
margin: 0px;}   

#ct2main > h1{font-weight: bold;}

#ct2main > li{font-size: 15px;}

#ct2bot > input{ border-radius: 30px; width: 100px;
    padding: 5px 0px; background-color: black;
    color: white; margin: 10px 0px;
}
#ct4bot > input{background-color: black;margin: 20px 0px;
    color: white; margin: 10px 0px;border-radius: 30px;
    width: 200px;}




#ct5ul{
    display: flex; justify-content: flex-end ; margin-bottom: 0px;   
}


#ct5ul>input{ border-radius: 30px; border: none; font-size: 14px;
}



#content5>div{display: flex;padding-top: 0px 5px;}

#ct5Limg{ 
    width: 100%; height: 800px; margin: 10px 0px; 
    background-image: url(img/여자3/nike-just-do-it처음.jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct5Mimg{ 
    width: 100%; height: 800px; margin: 10px 0px; 
    background-image: url(img/여자3/nike-just-do-중간\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct5Rimg{ 
    width: 100%; height: 800px; margin: 10px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(마지막\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#content5>div>div{margin: 10px 10px;}

#ctTop7>div>h3{margin: 0px 5px;}
#ctTop8>div>h3{margin: 0px 5px;}

#ctTop7, #ctBot7{
    display: flex; justify-content: space-between;
}

#ct7Limg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(6\).png);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct7Mimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(7\).png);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct7Rimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(8\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct7Limg,#ct7Mimg,#ct7Rimg{width: 400px; height: 600px; margin: 5px 10px;}


#ctBot7>div>h4{text-align: center; margin: 5px 10px;}


#ctTop8, #ctBot8{
    display: flex;
}

#ctTop8{justify-content: space-between;}


#ct8Limg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/스포츠웨어-남성-오버사이즈-티셔츠-yI18hkJJ.png);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct8Mimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/라이프-남성-캠프-쇼츠-3PzzmxIO.png);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct8Rimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/acg-에어-데슈츠-샌들-Tob4XFtL.png);
  background-repeat: no-repeat; 
  background-position: center ;
}

#ct8Limg,#ct8Mimg,#ct8Rimg{width: 400px; height: 600px; margin: 5px 10px;}




#ctTop9, #ctBot9{
    display: flex; justify-content: space-between;
}
#ct9Limg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(20\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct9Mimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(21\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct9Rimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(22\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct9Limg,#ct9Mimg,#ct9Rimg{width: 400px; height: 400px; margin: 5px 10px;}



#ctTop10, #ctBot10{
    display: flex; justify-content: space-between;
}
#ct10Limg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(26\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct10Mimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(27\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct10Rimg{ 
    width: 100%; height: 800px; margin: 30px 0px; 
    background-image: url(img/여자3/nike-just-do-it\(28\).jpg);
  background-repeat: no-repeat; 
  background-position: center ;
}
#ct10Limg,#ct10Mimg,#ct10Rimg{width: 400px; height: 400px; margin: 5px 10px;}

.ct10ul > li > input{ border-radius: 30px; width: 100px;
    padding: 5px 0px; background-color: black;
    color: white; margin: 10px 0px;}


.but{ border: 1px solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;}

.but>input{ background-color: white;
    border: none;margin-left: 7px;}


    #ct5ul>li{ 
    border-radius: 50%;
    width: 25px;
    height: 25px;}

    #ct5ul>li>input{    border-radius: 50%;
    border: none;
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: -5px 0px;
    font-weight: bold;
    padding-bottom: 5px;}
